# ==========================================
# CONFIGURACIÓN DEL SISTEMA (EJEMPLO)
# ==========================================

# --- SEGURIDAD ---
# Generar clave segura: python -c 'import os; print(os.urandom(24).hex())'
SECRET_KEY=clave-segura-aqui
FLASK_ENV=development
PORT=8080

# --- INFRAESTRUCTURA MYSQL ---
# Esta es la que usa Docker para CREAR la base de datos
DB_ROOT_PASSWORD=root

# --- CONEXIÓN DE LA APP ---
# Esta es la que usa Flask para CONECTARSE
MYSQL_HOST=mysql
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DB=formulario_clientes

# --- NEXTCLOUD / WEBDAV ---
NEXTCLOUD_URL=https://cloud.ssolid360.com/remote.php/dav/files
NEXTCLOUD_USER=tu-usuario
NEXTCLOUD_PASSWORD=tu-contraseña-de-aplicacion
NEXTCLOUD_PUBLIC_BASE=https://cloud.ssolid360.com/index.php/apps/files/files/?dir=/
